$collapse-min-width: 800px; // For testing ipad
$header-font-color: #eee;
$active-btn-border-len: 4px;

$header-height: 220px;

@mixin mobile {
    @media screen and (max-width: $collapse-min-width){
        @content;
    }
}

$nav-btn-top-padding: 15px;
$nav-btn-left-padding: 20px;
@mixin nav-btn-padding {
    padding: $nav-btn-top-padding $nav-btn-left-padding;
}

$nav-background: $plastic-green;

.main-header {
    color: $header-font-color;
    background-color: $nav-background;
    position: relative;
    height: $header-height;
}
.site-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 2px #aaa;
    background-color: $nav-background;
    &.fixed {
        position: fixed;
        top: 0;
        bottom: auto;
        left: 0;
        width: 100%;
        z-index: $z-idx-title-bar;
    }
}
ul.nav-list {
    list-style: none;
    display: inline-block;
    position: relative;
    > li {
        display: inline-block;
        padding: 0 8px;
        &.active {
            > .nav-btn {
                border-bottom: $header-font-color solid 2px;
            }
        }
    }
    &.collapse {
        @include mobile(){
            z-index: 2;
            position: fixed;
            height: 100%;
            display: block;
            overflow: hidden;
            background-color: #fff;
            border-bottom-right-radius: 2px;
            transform-origin: left;
            -webkit-transform-origin: left;
            width: 200px;
            top: 0;
            left: -210px;
            @include the-transition(all);
            @include shadow-base();
        }
        > li {
            @include mobile() {
                display: block;
                padding: 0;
                border-left: transparent solid 4px;
                &.active {
                    border-left: #77e solid 4px;
                    background-color: #ddd;
                    > .nav-btn {
                        border-bottom: 0;
                    }
                }
            }
            &.collapse {
                display: none;
                @include mobile() {
                    display: block;
                }
            }
        }
        &.show {
            left: 0;
        }
    }
    &.right {
        float: right;
    }
}
$nav-btn-ext-padding: 10px;
.nav-btn {
    display: inline-block;
    color: $header-font-color;
    @include the-transition(all);
    padding: $nav-btn-top-padding 8px;
    border-bottom: transparent solid 2px;
    &.collapse {
        @include mobile() {
            color: #555;
            display: block;
            margin: 0;
            border: 0;
            @include nav-btn-padding();
            &.active {
                border: 0;
                background-color: #ddd;
            }
        }
    }
    @include pressed() {
        color: $header-font-color;
        border-bottom: #ccc solid 2px;
    }
    @include mobile() {
        @include pressed() {
            border: 0;
        }
    }
}
.nav-icon {
    padding-right: 5px;
    display: none;
    @include mobile() {
        float: none;
        display: inline;
    }
}
#btn-close-menu {
    color: #555;
    @include nav-btn-padding();
    display: none;
    border: 0;
    @include mobile(){
        display: inline-block;
    }
}

#btn-collapse {
    // float: right;
    display: none;
    padding: 15px 20px;
    @include mobile() {
        display: inline-block;
    }
}
.banner {
    padding: 30px 0;
    color: $header-font-color;
    h1 {
        font-size: $base-font-size * 1.8;
        font-weight: $base-font-weight;
        text-align: center;
        padding: 5px;
    }
    h2 {
        font-weight: $base-font-weight;
        text-align: center;
        font-size: $base-font-size * 1.5;
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    @include the-transition(all);
    visibility: hidden;
    background-color: #000;
    z-index: 1;
    &.show {
        visibility: visible;
        opacity: 0.5;
    }
}